/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.navbari{*/
/*    width: 90%;*/
/*    margin-left: 5%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.container{*/
/*    background-color: #e0e0f5;*/
/*    height: 500px;*/
/*    margin-top: 30px;*/
/*}*/

/*.moreinfo{*/
/*    width: 80%;*/
/*    margin-left: 10%;*/
/*    padding: 10px;*/
/*}*/

/*.tasks{*/
/*    width: 90%;*/
/*    height: 100px;*/
/*    background-color: #f3f3f3;*/
/*    color:white;*/
/*    margin-left: 5%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding:10px;*/
/*    color: black;*/
/*    margin-top: 30px;*/

/*}*/

/*.totali{*/
/*    float: right;*/
/*    margin-top: 50px;*/
/*}*/
.navheader {
    background: #01CD98;
}

#dashboard-document {
    background: #EDF0F7;
    height: 100vh;
}

div .btnshtoshpenzim {
    background: #6bac9c;
    color: #f3f3f3;
}

div .btnshtomonedha {
    background: #6bac9c;
    color: #f3f3f3;
}

.btnlogout {
    height: 40px;
    padding-bottom: 10px;
}

.fa-edit {
    color: #E4C864;
}

.fa-trash-alt {
    color: #ADB6C4;
}